.loadingSpinner {
  width: 5rem !important;
  height: 5rem !important;
}

@media (max-width: 575px) and (min-width: 376px) {
  .mw-50 {
    max-width: 11rem !important;
  }
}
@media (max-width: 376px) {
  .mw-50 {
    max-width: 10rem !important;
  }
}

.brand:hover {
  cursor: pointer;
}

/* html * {
  border: solid 1px purple;
} */
