.loadingSpinner {
  width: 5rem !important;
  height: 5rem !important;
}

@media (max-width: 575px) and (min-width: 376px) {
  .mw-50 {
    max-width: 11rem !important;
  }
}
@media (max-width: 376px) {
  .mw-50 {
    max-width: 10rem !important;
  }
}
@media (min-width: 768px) {
  .genreSelectForm {
    max-width: 25rem;
  } 
}

.brand:hover {
  cursor: pointer;
}

.navsHeader {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  gap: 2rem
} 

.togglerMenu {
  border: none !important;
  font-size: larger !important;
  position: relative;
  bottom: 2px;
}





/* html * {
  border: solid 1px purple;
} */
